#game {
  width: 100%;
  margin: auto;
  position: absolute;
}

body {
  padding: 0;
  margin: 0;
}

canvas {
  margin: auto;
}

#myText {
  font-family: "monospace", sans-serif;
  display: block;
  margin: auto;
  position: relative;
  top: 339px;
  text-align: center;
  background-color: #999;
  font-size: 18px;
  font-weight: 700;
}
